{
    servers {
        protocols h1 h2 h3
    }
}

video.duxng.io.vn {
    encode zstd gzip

    @preflight method OPTIONS
    handle @preflight {
        header Access-Control-Allow-Origin *
        header Access-Control-Allow-Methods "GET, POST, PUT, OPTIONS"
        header Access-Control-Allow-Headers "Content-Type, Authorization"
        respond "" 204
    }

    handle /media/* {
        root * /srv
        file_server
    }

    handle /media-2/* {
        root * /srv
        file_server
    }

    handle /api/* {
        reverse_proxy localhost:3000
    }

    handle {
        reverse_proxy frontend:80
    }
}