{
    servers {
        protocols h1 h2 h3
    }
}

{$DOMAIN}, localhost, 127.0.0.1 {
    tls internal
    encode zstd gzip

    @preflight method OPTIONS
    handle @preflight {
        header Access-Control-Allow-Origin *
        header Access-Control-Allow-Methods "GET, POST, PUT, OPTIONS"
        header Access-Control-Allow-Headers "Content-Type, Authorization"
        respond "" 204
    }

    handle /video/* {
        header Timing-Allow-Origin *
        header Access-Control-Allow-Origin *
        root * /srv
        file_server
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:{$PORT:3000}
    }

    handle {
        reverse_proxy frontend:80
    }
}
